.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  margin: 20px;
  max-width: 600px;
  background-color: #FFFFFF;
}

.field-checkbox {
  display: flex;
  align-items: center;
}

.field-checkbox p-radioButton {
  margin-right: 5px;
}

.field-checkbox label {
  padding: 10px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer-cotainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
